{% extends "index.html" %}

{% block analytics %}
    <title>Grand canyon of PA -- 2019</title>
    <meta name="description" content="">
    <meta name="author" content="mental@neverlight.com">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/img/grand-canyon-pa-2019//css/skeleton.css">
    <link rel="stylesheet" href="/img/grand-canyon-pa-2019//css/colorbox.css">
{% endblock analytics %}
{% block content %}
    <div class="container">
      <div class="three columns">

      </div>
      <div id="main" role="main" class="nine columns offset-by-three"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ page.content | safe }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="three columns">
      
        </div>
        <div id="main" role="main" class="nine columns offset-by-three"></div>

  <div id="gallery">
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0051.jpeg" class="gallery"
          title="IMG_0051.jpeg"
                  data-date=", Sat Nov  2 11:22:35 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0051.jpeg" alt="IMG_0051.jpeg"
              title="IMG_0051.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0052.jpeg" class="gallery"
          title="IMG_0052.jpeg"
                  data-date=", Sat Nov  2 11:22:39 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0052.jpeg" alt="IMG_0052.jpeg"
              title="IMG_0052.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0053.jpeg" class="gallery"
          title="IMG_0053.jpeg"
                  data-date=", Sat Nov  2 11:25:51 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0053.jpeg" alt="IMG_0053.jpeg"
              title="IMG_0053.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0054.jpeg" class="gallery"
          title="IMG_0054.jpeg"
                  data-date=", Sat Nov  2 11:25:56 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0054.jpeg" alt="IMG_0054.jpeg"
              title="IMG_0054.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0055.jpeg" class="gallery"
          title="IMG_0055.jpeg"
                  data-date=", Sat Nov  2 11:26:12 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0055.jpeg" alt="IMG_0055.jpeg"
              title="IMG_0055.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0056.jpeg" class="gallery"
          title="IMG_0056.jpeg"
                  data-date=", Sat Nov  2 11:28:43 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0056.jpeg" alt="IMG_0056.jpeg"
              title="IMG_0056.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0057.jpeg" class="gallery"
          title="IMG_0057.jpeg"
                  data-date=", Sat Nov  2 11:28:47 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0057.jpeg" alt="IMG_0057.jpeg"
              title="IMG_0057.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0058.jpeg" class="gallery"
          title="IMG_0058.jpeg"
                  data-date=", Sat Nov  2 11:28:56 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0058.jpeg" alt="IMG_0058.jpeg"
              title="IMG_0058.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0059.jpeg" class="gallery"
          title="IMG_0059.jpeg"
                  data-date=", Sat Nov  2 11:29:05 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0059.jpeg" alt="IMG_0059.jpeg"
              title="IMG_0059.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0060.jpeg" class="gallery"
          title="IMG_0060.jpeg"
                  data-date=", Sat Nov  2 11:34:00 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0060.jpeg" alt="IMG_0060.jpeg"
              title="IMG_0060.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0061.jpeg" class="gallery"
          title="IMG_0061.jpeg"
                  data-date=", Sat Nov  2 11:34:04 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0061.jpeg" alt="IMG_0061.jpeg"
              title="IMG_0061.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0062.jpeg" class="gallery"
          title="IMG_0062.jpeg"
                  data-date=", Sat Nov  2 11:35:08 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0062.jpeg" alt="IMG_0062.jpeg"
              title="IMG_0062.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0063.jpeg" class="gallery"
          title="IMG_0063.jpeg"
                  data-date=", Sat Nov  2 11:35:11 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0063.jpeg" alt="IMG_0063.jpeg"
              title="IMG_0063.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0064.jpeg" class="gallery"
          title="IMG_0064.jpeg"
                  data-date=", Sat Nov  2 11:35:27 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0064.jpeg" alt="IMG_0064.jpeg"
              title="IMG_0064.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0065.jpeg" class="gallery"
          title="IMG_0065.jpeg"
                  data-date=", Sat Nov  2 15:23:23 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0065.jpeg" alt="IMG_0065.jpeg"
              title="IMG_0065.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0066.jpeg" class="gallery"
          title="IMG_0066.jpeg"
                  data-date=", Sat Nov  2 15:23:27 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0066.jpeg" alt="IMG_0066.jpeg"
              title="IMG_0066.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0067.jpeg" class="gallery"
          title="IMG_0067.jpeg"
                  data-date=", Sat Nov  2 15:23:59 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0067.jpeg" alt="IMG_0067.jpeg"
              title="IMG_0067.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0068.jpeg" class="gallery"
          title="IMG_0068.jpeg"
                  data-date=", Sat Nov  2 15:24:03 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0068.jpeg" alt="IMG_0068.jpeg"
              title="IMG_0068.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0069.jpeg" class="gallery"
          title="IMG_0069.jpeg"
                  data-date=", Sat Nov  2 15:24:11 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0069.jpeg" alt="IMG_0069.jpeg"
              title="IMG_0069.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0070.jpeg" class="gallery"
          title="IMG_0070.jpeg"
                  data-date=", Sat Nov  2 15:24:17 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0070.jpeg" alt="IMG_0070.jpeg"
              title="IMG_0070.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0071.jpeg" class="gallery"
          title="IMG_0071.jpeg"
                  data-date=", Sat Nov  2 15:24:25 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0071.jpeg" alt="IMG_0071.jpeg"
              title="IMG_0071.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0072.jpeg" class="gallery"
          title="IMG_0072.jpeg"
                  data-date=", Sat Nov  2 15:26:55 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0072.jpeg" alt="IMG_0072.jpeg"
              title="IMG_0072.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0073.jpeg" class="gallery"
          title="IMG_0073.jpeg"
                  data-date=", Sat Nov  2 15:26:57 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0073.jpeg" alt="IMG_0073.jpeg"
              title="IMG_0073.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0074.jpeg" class="gallery"
          title="IMG_0074.jpeg"
                  data-date=", Sat Nov  2 15:27:00 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0074.jpeg" alt="IMG_0074.jpeg"
              title="IMG_0074.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0075.jpeg" class="gallery"
          title="IMG_0075.jpeg"
                  data-date=", Sat Nov  2 15:27:51 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0075.jpeg" alt="IMG_0075.jpeg"
              title="IMG_0075.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0076.jpeg" class="gallery"
          title="IMG_0076.jpeg"
                  data-date=", Sat Nov  2 16:26:58 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0076.jpeg" alt="IMG_0076.jpeg"
              title="IMG_0076.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0077.jpeg" class="gallery"
          title="IMG_0077.jpeg"
                  data-date=", Sat Nov  2 16:27:05 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0077.jpeg" alt="IMG_0077.jpeg"
              title="IMG_0077.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0078.jpeg" class="gallery"
          title="IMG_0078.jpeg"
                  data-date=", Sat Nov  2 16:27:26 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0078.jpeg" alt="IMG_0078.jpeg"
              title="IMG_0078.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0079.jpeg" class="gallery"
          title="IMG_0079.jpeg"
                  data-date=", Sat Nov  2 16:27:27 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0079.jpeg" alt="IMG_0079.jpeg"
              title="IMG_0079.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0080.jpeg" class="gallery"
          title="IMG_0080.jpeg"
                  data-date=", Sat Nov  2 16:27:29 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0080.jpeg" alt="IMG_0080.jpeg"
              title="IMG_0080.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0081.jpeg" class="gallery"
          title="IMG_0081.jpeg"
                  data-date=", Sat Nov  2 16:27:59 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0081.jpeg" alt="IMG_0081.jpeg"
              title="IMG_0081.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0082.jpeg" class="gallery"
          title="IMG_0082.jpeg"
                  data-date=", Sat Nov  2 16:28:01 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0082.jpeg" alt="IMG_0082.jpeg"
              title="IMG_0082.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0083.jpeg" class="gallery"
          title="IMG_0083.jpeg"
                  data-date=", Sat Nov  2 16:28:07 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0083.jpeg" alt="IMG_0083.jpeg"
              title="IMG_0083.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0084.jpeg" class="gallery"
          title="IMG_0084.jpeg"
                  data-date=", Sat Nov  2 16:28:23 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0084.jpeg" alt="IMG_0084.jpeg"
              title="IMG_0084.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0085.jpeg" class="gallery"
          title="IMG_0085.jpeg"
                  data-date=", Sat Nov  2 16:28:54 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0085.jpeg" alt="IMG_0085.jpeg"
              title="IMG_0085.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0086.jpeg" class="gallery"
          title="IMG_0086.jpeg"
                  data-date=", Sat Nov  2 17:12:29 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0086.jpeg" alt="IMG_0086.jpeg"
              title="IMG_0086.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0087.jpeg" class="gallery"
          title="IMG_0087.jpeg"
                  data-date=", Sun Nov  3 07:37:30 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0087.jpeg" alt="IMG_0087.jpeg"
              title="IMG_0087.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0088.jpeg" class="gallery"
          title="IMG_0088.jpeg"
                  data-date=", Sun Nov  3 07:37:32 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0088.jpeg" alt="IMG_0088.jpeg"
              title="IMG_0088.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0089.jpeg" class="gallery"
          title="IMG_0089.jpeg"
                  data-date=", Sun Nov  3 07:37:33 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0089.jpeg" alt="IMG_0089.jpeg"
              title="IMG_0089.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0090.jpeg" class="gallery"
          title="IMG_0090.jpeg"
                  data-date=", Sun Nov  3 07:41:57 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0090.jpeg" alt="IMG_0090.jpeg"
              title="IMG_0090.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0091.jpeg" class="gallery"
          title="IMG_0091.jpeg"
                  data-date=", Sun Nov  3 11:06:54 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0091.jpeg" alt="IMG_0091.jpeg"
              title="IMG_0091.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0092.jpeg" class="gallery"
          title="IMG_0092.jpeg"
                  data-date=", Sun Nov  3 11:06:56 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0092.jpeg" alt="IMG_0092.jpeg"
              title="IMG_0092.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0093.jpeg" class="gallery"
          title="IMG_0093.jpeg"
                  data-date=", Sun Nov  3 11:07:06 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0093.jpeg" alt="IMG_0093.jpeg"
              title="IMG_0093.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0094.jpeg" class="gallery"
          title="IMG_0094.jpeg"
                  data-date=", Sun Nov  3 11:07:13 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0094.jpeg" alt="IMG_0094.jpeg"
              title="IMG_0094.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0095.jpeg" class="gallery"
          title="IMG_0095.jpeg"
                  data-date=", Sun Nov  3 11:07:15 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0095.jpeg" alt="IMG_0095.jpeg"
              title="IMG_0095.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0096.jpeg" class="gallery"
          title="IMG_0096.jpeg"
                  data-date=", Sun Nov  3 11:08:33 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0096.jpeg" alt="IMG_0096.jpeg"
              title="IMG_0096.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0097.jpeg" class="gallery"
          title="IMG_0097.jpeg"
                  data-date=", Sun Nov  3 11:08:37 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0097.jpeg" alt="IMG_0097.jpeg"
              title="IMG_0097.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0098.jpeg" class="gallery"
          title="IMG_0098.jpeg"
                  data-date=", Sun Nov  3 11:08:44 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0098.jpeg" alt="IMG_0098.jpeg"
              title="IMG_0098.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0099.jpeg" class="gallery"
          title="IMG_0099.jpeg"
                  data-date=", Sun Nov  3 11:08:51 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0099.jpeg" alt="IMG_0099.jpeg"
              title="IMG_0099.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0100.jpeg" class="gallery"
          title="IMG_0100.jpeg"
                  data-date=", Sun Nov  3 11:12:07 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0100.jpeg" alt="IMG_0100.jpeg"
              title="IMG_0100.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0101.jpeg" class="gallery"
          title="IMG_0101.jpeg"
                  data-date=", Sun Nov  3 11:12:31 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0101.jpeg" alt="IMG_0101.jpeg"
              title="IMG_0101.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0102.jpeg" class="gallery"
          title="IMG_0102.jpeg"
                  data-date=", Sun Nov  3 11:12:34 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0102.jpeg" alt="IMG_0102.jpeg"
              title="IMG_0102.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0103.jpeg" class="gallery"
          title="IMG_0103.jpeg"
                  data-date=", Sun Nov  3 11:12:40 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0103.jpeg" alt="IMG_0103.jpeg"
              title="IMG_0103.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0104.jpeg" class="gallery"
          title="IMG_0104.jpeg"
                  data-date=", Sun Nov  3 11:12:42 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0104.jpeg" alt="IMG_0104.jpeg"
              title="IMG_0104.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0105.jpeg" class="gallery"
          title="IMG_0105.jpeg"
                  data-date=", Sun Nov  3 11:12:44 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0105.jpeg" alt="IMG_0105.jpeg"
              title="IMG_0105.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0106.jpeg" class="gallery"
          title="IMG_0106.jpeg"
                  data-date=", Sun Nov  3 12:11:13 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0106.jpeg" alt="IMG_0106.jpeg"
              title="IMG_0106.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0107.jpeg" class="gallery"
          title="IMG_0107.jpeg"
                  data-date=", Sun Nov  3 12:11:19 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0107.jpeg" alt="IMG_0107.jpeg"
              title="IMG_0107.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0108.jpeg" class="gallery"
          title="IMG_0108.jpeg"
                  data-date=", Sun Nov  3 12:11:44 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0108.jpeg" alt="IMG_0108.jpeg"
              title="IMG_0108.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0109.jpeg" class="gallery"
          title="IMG_0109.jpeg"
                  data-date=", Sun Nov  3 12:11:47 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0109.jpeg" alt="IMG_0109.jpeg"
              title="IMG_0109.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0110.jpeg" class="gallery"
          title="IMG_0110.jpeg"
                  data-date=", Sun Nov  3 12:11:51 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0110.jpeg" alt="IMG_0110.jpeg"
              title="IMG_0110.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0111.jpeg" class="gallery"
          title="IMG_0111.jpeg"
                  data-date=", Sun Nov  3 12:12:05 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0111.jpeg" alt="IMG_0111.jpeg"
              title="IMG_0111.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0112.jpeg" class="gallery"
          title="IMG_0112.jpeg"
                  data-date=", Sun Nov  3 12:12:27 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0112.jpeg" alt="IMG_0112.jpeg"
              title="IMG_0112.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0113.jpeg" class="gallery"
          title="IMG_0113.jpeg"
                  data-date=", Sun Nov  3 12:12:45 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0113.jpeg" alt="IMG_0113.jpeg"
              title="IMG_0113.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0114.jpeg" class="gallery"
          title="IMG_0114.jpeg"
                  data-date=", Sun Nov  3 12:12:50 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0114.jpeg" alt="IMG_0114.jpeg"
              title="IMG_0114.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0115.jpeg" class="gallery"
          title="IMG_0115.jpeg"
                  data-date=", Sun Nov  3 12:12:55 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0115.jpeg" alt="IMG_0115.jpeg"
              title="IMG_0115.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0116.jpeg" class="gallery"
          title="IMG_0116.jpeg"
                  data-date=", Sun Nov  3 12:14:21 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0116.jpeg" alt="IMG_0116.jpeg"
              title="IMG_0116.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0117.jpeg" class="gallery"
          title="IMG_0117.jpeg"
                  data-date=", Sun Nov  3 12:14:24 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0117.jpeg" alt="IMG_0117.jpeg"
              title="IMG_0117.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/grand-canyon-pa-2019/IMG_0118.jpeg" class="gallery"
          title="IMG_0118.jpeg"
                  data-date=", Mon Nov  4 15:51:38 2019"
>
          <img src="/img/grand-canyon-pa-2019/thumbnails/IMG_0118.jpeg" alt="IMG_0118.jpeg"
              title="IMG_0118.jpeg" /></a>
      </div>
      </div>
  </div>


      </div>
    </div>

  <script src="/js/jquery-2.2.1.min.js"></script>
  <script src="/js/jquery.colorbox-min.js"></script>
  <script src="/js/jquery.touchSwipe.min.js"></script>

  <script src="/js/app.js"></script>
{% endblock content %}
