{% extends "index.html" %}

{% block analytics %}
    <title>Grand canyon of PA -- 2019</title>
    <meta name="description" content="">
    <meta name="author" content="mental@neverlight.com">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/img/pandemic-2020//img/moto-camping-2018//img/grand-canyon-pa-2019//css/skeleton.css">
    <link rel="stylesheet" href="/img/pandemic-2020//img/moto-camping-2018//img/grand-canyon-pa-2019//css/colorbox.css">
{% endblock analytics %}
{% block content %}
    <div class="container">
      <div class="three columns">

      </div>
      <div id="main" role="main" class="nine columns offset-by-three"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ page.content | safe }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="three columns">
      
        </div>
        <div id="main" role="main" class="nine columns offset-by-three"></div>

  <div id="gallery">
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/0EB71E2F-3572-4CF7-AAA4-C90E9253BAA4.jpg" class="gallery"
          title="0EB71E2F-3572-4CF7-AAA4-C90E9253BAA4.jpg"
          >
          <img src="/img/pandemic-2020/thumbnails/0EB71E2F-3572-4CF7-AAA4-C90E9253BAA4.jpg" alt="0EB71E2F-3572-4CF7-AAA4-C90E9253BAA4.jpg"
              title="0EB71E2F-3572-4CF7-AAA4-C90E9253BAA4.jpg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/3EE36D2E-C90F-4273-B6BE-506A346D4AFD.jpg" class="gallery"
          title="3EE36D2E-C90F-4273-B6BE-506A346D4AFD.jpg"
          >
          <img src="/img/pandemic-2020/thumbnails/3EE36D2E-C90F-4273-B6BE-506A346D4AFD.jpg" alt="3EE36D2E-C90F-4273-B6BE-506A346D4AFD.jpg"
              title="3EE36D2E-C90F-4273-B6BE-506A346D4AFD.jpg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/61981261420__BCE86D3C-CA02-40E4-A737-5782F1507881.JPG" class="gallery"
          title="61981261420__BCE86D3C-CA02-40E4-A737-5782F1507881.JPG"
                  data-date=", Sat Aug 22 14:10:14 2020"
>
          <img src="/img/pandemic-2020/thumbnails/61981261420__BCE86D3C-CA02-40E4-A737-5782F1507881.JPG" alt="61981261420__BCE86D3C-CA02-40E4-A737-5782F1507881.JPG"
              title="61981261420__BCE86D3C-CA02-40E4-A737-5782F1507881.JPG" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/61981341144__04DE74F3-5700-4117-8F08-3FF9E5D91AAE.JPG" class="gallery"
          title="61981341144__04DE74F3-5700-4117-8F08-3FF9E5D91AAE.JPG"
                  data-date=", Sat Aug 22 14:23:31 2020"
>
          <img src="/img/pandemic-2020/thumbnails/61981341144__04DE74F3-5700-4117-8F08-3FF9E5D91AAE.JPG" alt="61981341144__04DE74F3-5700-4117-8F08-3FF9E5D91AAE.JPG"
              title="61981341144__04DE74F3-5700-4117-8F08-3FF9E5D91AAE.JPG" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/B48304C8-E580-4F3B-AFCF-B8B5494530BF.jpg" class="gallery"
          title="B48304C8-E580-4F3B-AFCF-B8B5494530BF.jpg"
          >
          <img src="/img/pandemic-2020/thumbnails/B48304C8-E580-4F3B-AFCF-B8B5494530BF.jpg" alt="B48304C8-E580-4F3B-AFCF-B8B5494530BF.jpg"
              title="B48304C8-E580-4F3B-AFCF-B8B5494530BF.jpg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0028.jpeg" class="gallery"
          title="IMG_0028.jpeg"
                  data-date=", Sun Oct 11 07:57:46 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0028.jpeg" alt="IMG_0028.jpeg"
              title="IMG_0028.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0051.jpeg" class="gallery"
          title="IMG_0051.jpeg"
                  data-date=", Tue Oct 20 07:34:46 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0051.jpeg" alt="IMG_0051.jpeg"
              title="IMG_0051.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0121.jpeg" class="gallery"
          title="IMG_0121.jpeg"
                  data-date=", Sat Nov  7 15:50:39 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0121.jpeg" alt="IMG_0121.jpeg"
              title="IMG_0121.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0122.jpeg" class="gallery"
          title="IMG_0122.jpeg"
                  data-date=", Sat Nov  7 15:51:00 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0122.jpeg" alt="IMG_0122.jpeg"
              title="IMG_0122.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0126.jpeg" class="gallery"
          title="IMG_0126.jpeg"
                  data-date=", Sun Nov  8 12:43:28 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0126.jpeg" alt="IMG_0126.jpeg"
              title="IMG_0126.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0130.jpeg" class="gallery"
          title="IMG_0130.jpeg"
                  data-date=", Sun Nov  8 18:20:26 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0130.jpeg" alt="IMG_0130.jpeg"
              title="IMG_0130.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0144.jpeg" class="gallery"
          title="IMG_0144.jpeg"
                  data-date=", Sat Nov 14 08:27:39 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0144.jpeg" alt="IMG_0144.jpeg"
              title="IMG_0144.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0157.jpeg" class="gallery"
          title="IMG_0157.jpeg"
                  data-date=", Sun Nov 29 09:26:40 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0157.jpeg" alt="IMG_0157.jpeg"
              title="IMG_0157.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0195.jpeg" class="gallery"
          title="IMG_0195.jpeg"
                  data-date=", Thu Dec 10 18:15:31 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0195.jpeg" alt="IMG_0195.jpeg"
              title="IMG_0195.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_0203.jpeg" class="gallery"
          title="IMG_0203.jpeg"
                  data-date=", Fri Dec 11 15:36:18 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_0203.jpeg" alt="IMG_0203.jpeg"
              title="IMG_0203.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1045.jpeg" class="gallery"
          title="IMG_1045.jpeg"
                  data-date=", Sun Jun 21 17:11:09 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1045.jpeg" alt="IMG_1045.jpeg"
              title="IMG_1045.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1115.jpeg" class="gallery"
          title="IMG_1115.jpeg"
                  data-date=", Sun Jul  5 09:31:02 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1115.jpeg" alt="IMG_1115.jpeg"
              title="IMG_1115.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1116.jpeg" class="gallery"
          title="IMG_1116.jpeg"
                  data-date=", Sun Jul  5 09:31:07 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1116.jpeg" alt="IMG_1116.jpeg"
              title="IMG_1116.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1132.jpeg" class="gallery"
          title="IMG_1132.jpeg"
                  data-date=", Tue Jul  7 12:42:01 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1132.jpeg" alt="IMG_1132.jpeg"
              title="IMG_1132.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1150.jpeg" class="gallery"
          title="IMG_1150.jpeg"
                  data-date=", Sat Jul 11 17:42:45 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1150.jpeg" alt="IMG_1150.jpeg"
              title="IMG_1150.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1152.jpeg" class="gallery"
          title="IMG_1152.jpeg"
                  data-date=", Sat Jul 11 17:47:57 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1152.jpeg" alt="IMG_1152.jpeg"
              title="IMG_1152.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1229.jpeg" class="gallery"
          title="IMG_1229.jpeg"
                  data-date=", Wed Jul 29 14:29:09 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1229.jpeg" alt="IMG_1229.jpeg"
              title="IMG_1229.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1231.jpeg" class="gallery"
          title="IMG_1231.jpeg"
                  data-date=", Wed Jul 29 16:40:56 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1231.jpeg" alt="IMG_1231.jpeg"
              title="IMG_1231.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1233.jpeg" class="gallery"
          title="IMG_1233.jpeg"
                  data-date=", Wed Jul 29 16:41:07 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1233.jpeg" alt="IMG_1233.jpeg"
              title="IMG_1233.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1235.jpeg" class="gallery"
          title="IMG_1235.jpeg"
                  data-date=", Wed Jul 29 17:26:43 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1235.jpeg" alt="IMG_1235.jpeg"
              title="IMG_1235.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1239.jpeg" class="gallery"
          title="IMG_1239.jpeg"
                  data-date=", Wed Jul 29 17:27:01 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1239.jpeg" alt="IMG_1239.jpeg"
              title="IMG_1239.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1240.jpeg" class="gallery"
          title="IMG_1240.jpeg"
                  data-date=", Wed Jul 29 17:27:32 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1240.jpeg" alt="IMG_1240.jpeg"
              title="IMG_1240.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1245.jpeg" class="gallery"
          title="IMG_1245.jpeg"
                  data-date=", Wed Jul 29 17:32:19 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1245.jpeg" alt="IMG_1245.jpeg"
              title="IMG_1245.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1270.jpeg" class="gallery"
          title="IMG_1270.jpeg"
                  data-date=", Sat Aug 22 14:22:01 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1270.jpeg" alt="IMG_1270.jpeg"
              title="IMG_1270.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1275.jpeg" class="gallery"
          title="IMG_1275.jpeg"
                  data-date=", Sat Aug 22 20:01:34 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1275.jpeg" alt="IMG_1275.jpeg"
              title="IMG_1275.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1277.jpeg" class="gallery"
          title="IMG_1277.jpeg"
                  data-date=", Sat Aug 22 21:51:55 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1277.jpeg" alt="IMG_1277.jpeg"
              title="IMG_1277.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1278.jpeg" class="gallery"
          title="IMG_1278.jpeg"
                  data-date=", Sat Aug 22 22:41:25 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1278.jpeg" alt="IMG_1278.jpeg"
              title="IMG_1278.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_1342.JPG" class="gallery"
          title="IMG_1342.JPG"
                  data-date=", Fri Sep  4 17:49:50 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_1342.JPG" alt="IMG_1342.JPG"
              title="IMG_1342.JPG" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/pandemic-2020/IMG_8418.jpeg" class="gallery"
          title="IMG_8418.jpeg"
                  data-date=", Thu Aug 27 19:00:09 2020"
>
          <img src="/img/pandemic-2020/thumbnails/IMG_8418.jpeg" alt="IMG_8418.jpeg"
              title="IMG_8418.jpeg" /></a>
      </div>
      </div>
  </div>


      </div>
    </div>

    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/jquery.colorbox-min.js"></script>
    <script src="/js/jquery.touchSwipe.min.js"></script>
  
    <script src="/js/app.js"></script>
  {% endblock content %}
  