{% extends "index.html" %}

{% block analytics %}
    <title>Grand canyon of PA -- 2019</title>
    <meta name="description" content="">
    <meta name="author" content="mental@neverlight.com">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/img/grand-canyon-pa-2019//css/skeleton.css">
    <link rel="stylesheet" href="/img/grand-canyon-pa-2019//css/colorbox.css">
{% endblock analytics %}
{% block content %}
    <div class="container">
      <div class="three columns">

      </div>
      <div id="main" role="main" class="nine columns offset-by-three"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ page.content | safe }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="three columns">
      
        </div>
        <div id="main" role="main" class="nine columns offset-by-three"></div>


  <div id="gallery">
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117340.jpeg" class="gallery"
          title="1117340.jpeg"
                  data-date=", Fri May 13 19:16:16 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117340.jpeg" alt="1117340.jpeg"
              title="1117340.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117341.jpeg" class="gallery"
          title="1117341.jpeg"
                  data-date=", Fri May 13 19:16:30 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117341.jpeg" alt="1117341.jpeg"
              title="1117341.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117342.jpeg" class="gallery"
          title="1117342.jpeg"
                  data-date=", Fri May 13 19:16:56 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117342.jpeg" alt="1117342.jpeg"
              title="1117342.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117343.jpeg" class="gallery"
          title="1117343.jpeg"
                  data-date=", Fri May 13 19:17:26 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117343.jpeg" alt="1117343.jpeg"
              title="1117343.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117344.jpeg" class="gallery"
          title="1117344.jpeg"
                  data-date=", Fri May 13 19:18:10 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117344.jpeg" alt="1117344.jpeg"
              title="1117344.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117345.jpeg" class="gallery"
          title="1117345.jpeg"
                  data-date=", Fri May 13 19:18:56 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117345.jpeg" alt="1117345.jpeg"
              title="1117345.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117351.jpeg" class="gallery"
          title="1117351.jpeg"
                  data-date=", Fri May 13 18:57:16 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117351.jpeg" alt="1117351.jpeg"
              title="1117351.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117352.jpeg" class="gallery"
          title="1117352.jpeg"
                  data-date=", Fri May 13 18:59:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117352.jpeg" alt="1117352.jpeg"
              title="1117352.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117353.jpeg" class="gallery"
          title="1117353.jpeg"
                  data-date=", Fri May 13 19:02:08 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117353.jpeg" alt="1117353.jpeg"
              title="1117353.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117354.jpeg" class="gallery"
          title="1117354.jpeg"
                  data-date=", Fri May 13 19:00:26 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117354.jpeg" alt="1117354.jpeg"
              title="1117354.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117355.jpeg" class="gallery"
          title="1117355.jpeg"
                  data-date=", Fri May 13 19:03:46 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117355.jpeg" alt="1117355.jpeg"
              title="1117355.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117356.jpeg" class="gallery"
          title="1117356.jpeg"
                  data-date=", Fri May 13 19:05:28 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117356.jpeg" alt="1117356.jpeg"
              title="1117356.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/1117357.jpeg" class="gallery"
          title="1117357.jpeg"
                  data-date=", Fri May 13 19:08:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/1117357.jpeg" alt="1117357.jpeg"
              title="1117357.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0132.jpeg" class="gallery"
          title="IMG_0132.jpeg"
                  data-date=", Sun May  8 12:54:46 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0132.jpeg" alt="IMG_0132.jpeg"
              title="IMG_0132.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0133.jpeg" class="gallery"
          title="IMG_0133.jpeg"
                  data-date=", Sun May  8 13:03:18 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0133.jpeg" alt="IMG_0133.jpeg"
              title="IMG_0133.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0134.jpeg" class="gallery"
          title="IMG_0134.jpeg"
                  data-date=", Sun May  8 19:32:32 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0134.jpeg" alt="IMG_0134.jpeg"
              title="IMG_0134.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0135.jpeg" class="gallery"
          title="IMG_0135.jpeg"
                  data-date=", Sun May  8 19:32:32 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0135.jpeg" alt="IMG_0135.jpeg"
              title="IMG_0135.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0136.jpeg" class="gallery"
          title="IMG_0136.jpeg"
                  data-date=", Sun May  8 19:40:38 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0136.jpeg" alt="IMG_0136.jpeg"
              title="IMG_0136.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0137.jpeg" class="gallery"
          title="IMG_0137.jpeg"
                  data-date=", Mon May  9 07:21:14 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0137.jpeg" alt="IMG_0137.jpeg"
              title="IMG_0137.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0138.jpeg" class="gallery"
          title="IMG_0138.jpeg"
                  data-date=", Mon May  9 09:07:33 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0138.jpeg" alt="IMG_0138.jpeg"
              title="IMG_0138.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0139.jpeg" class="gallery"
          title="IMG_0139.jpeg"
                  data-date=", Mon May  9 09:07:35 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0139.jpeg" alt="IMG_0139.jpeg"
              title="IMG_0139.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0140.jpeg" class="gallery"
          title="IMG_0140.jpeg"
                  data-date=", Mon May  9 09:07:44 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0140.jpeg" alt="IMG_0140.jpeg"
              title="IMG_0140.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0141.jpeg" class="gallery"
          title="IMG_0141.jpeg"
                  data-date=", Mon May  9 09:07:44 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0141.jpeg" alt="IMG_0141.jpeg"
              title="IMG_0141.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0142.jpeg" class="gallery"
          title="IMG_0142.jpeg"
                  data-date=", Mon May  9 09:07:50 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0142.jpeg" alt="IMG_0142.jpeg"
              title="IMG_0142.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0143.jpeg" class="gallery"
          title="IMG_0143.jpeg"
                  data-date=", Mon May  9 09:07:50 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0143.jpeg" alt="IMG_0143.jpeg"
              title="IMG_0143.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0144.jpeg" class="gallery"
          title="IMG_0144.jpeg"
                  data-date=", Mon May  9 09:08:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0144.jpeg" alt="IMG_0144.jpeg"
              title="IMG_0144.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0145.jpeg" class="gallery"
          title="IMG_0145.jpeg"
                  data-date=", Mon May  9 09:08:10 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0145.jpeg" alt="IMG_0145.jpeg"
              title="IMG_0145.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0146.jpeg" class="gallery"
          title="IMG_0146.jpeg"
                  data-date=", Mon May  9 09:08:32 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0146.jpeg" alt="IMG_0146.jpeg"
              title="IMG_0146.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0147.jpeg" class="gallery"
          title="IMG_0147.jpeg"
                  data-date=", Mon May  9 09:08:39 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0147.jpeg" alt="IMG_0147.jpeg"
              title="IMG_0147.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0148.jpeg" class="gallery"
          title="IMG_0148.jpeg"
                  data-date=", Mon May  9 09:08:48 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0148.jpeg" alt="IMG_0148.jpeg"
              title="IMG_0148.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0149.jpeg" class="gallery"
          title="IMG_0149.jpeg"
                  data-date=", Mon May  9 09:08:48 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0149.jpeg" alt="IMG_0149.jpeg"
              title="IMG_0149.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0150.jpeg" class="gallery"
          title="IMG_0150.jpeg"
                  data-date=", Mon May  9 09:09:11 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0150.jpeg" alt="IMG_0150.jpeg"
              title="IMG_0150.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0151.jpeg" class="gallery"
          title="IMG_0151.jpeg"
                  data-date=", Mon May  9 09:11:54 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0151.jpeg" alt="IMG_0151.jpeg"
              title="IMG_0151.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0152.jpeg" class="gallery"
          title="IMG_0152.jpeg"
                  data-date=", Mon May  9 09:22:35 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0152.jpeg" alt="IMG_0152.jpeg"
              title="IMG_0152.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0153.jpeg" class="gallery"
          title="IMG_0153.jpeg"
                  data-date=", Mon May  9 09:22:48 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0153.jpeg" alt="IMG_0153.jpeg"
              title="IMG_0153.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0154.jpeg" class="gallery"
          title="IMG_0154.jpeg"
                  data-date=", Mon May  9 09:22:56 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0154.jpeg" alt="IMG_0154.jpeg"
              title="IMG_0154.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0155.jpeg" class="gallery"
          title="IMG_0155.jpeg"
                  data-date=", Mon May  9 09:22:56 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0155.jpeg" alt="IMG_0155.jpeg"
              title="IMG_0155.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0156.jpeg" class="gallery"
          title="IMG_0156.jpeg"
                  data-date=", Mon May  9 09:23:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0156.jpeg" alt="IMG_0156.jpeg"
              title="IMG_0156.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0157.jpeg" class="gallery"
          title="IMG_0157.jpeg"
                  data-date=", Mon May  9 09:23:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0157.jpeg" alt="IMG_0157.jpeg"
              title="IMG_0157.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0158.jpeg" class="gallery"
          title="IMG_0158.jpeg"
                  data-date=", Mon May  9 09:23:07 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0158.jpeg" alt="IMG_0158.jpeg"
              title="IMG_0158.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0159.jpeg" class="gallery"
          title="IMG_0159.jpeg"
                  data-date=", Mon May  9 09:23:07 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0159.jpeg" alt="IMG_0159.jpeg"
              title="IMG_0159.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0160.jpeg" class="gallery"
          title="IMG_0160.jpeg"
                  data-date=", Mon May  9 09:23:11 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0160.jpeg" alt="IMG_0160.jpeg"
              title="IMG_0160.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0161.jpeg" class="gallery"
          title="IMG_0161.jpeg"
                  data-date=", Mon May  9 09:23:11 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0161.jpeg" alt="IMG_0161.jpeg"
              title="IMG_0161.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0162.jpeg" class="gallery"
          title="IMG_0162.jpeg"
                  data-date=", Mon May  9 09:23:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0162.jpeg" alt="IMG_0162.jpeg"
              title="IMG_0162.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0163.jpeg" class="gallery"
          title="IMG_0163.jpeg"
                  data-date=", Mon May  9 09:23:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0163.jpeg" alt="IMG_0163.jpeg"
              title="IMG_0163.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0164.jpeg" class="gallery"
          title="IMG_0164.jpeg"
                  data-date=", Mon May  9 09:28:58 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0164.jpeg" alt="IMG_0164.jpeg"
              title="IMG_0164.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0165.jpeg" class="gallery"
          title="IMG_0165.jpeg"
                  data-date=", Mon May  9 09:28:58 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0165.jpeg" alt="IMG_0165.jpeg"
              title="IMG_0165.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0166.jpeg" class="gallery"
          title="IMG_0166.jpeg"
                  data-date=", Mon May  9 09:29:09 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0166.jpeg" alt="IMG_0166.jpeg"
              title="IMG_0166.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0167.jpeg" class="gallery"
          title="IMG_0167.jpeg"
                  data-date=", Mon May  9 09:29:18 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0167.jpeg" alt="IMG_0167.jpeg"
              title="IMG_0167.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0168.jpeg" class="gallery"
          title="IMG_0168.jpeg"
                  data-date=", Mon May  9 09:29:18 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0168.jpeg" alt="IMG_0168.jpeg"
              title="IMG_0168.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0169.jpeg" class="gallery"
          title="IMG_0169.jpeg"
                  data-date=", Mon May  9 11:59:36 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0169.jpeg" alt="IMG_0169.jpeg"
              title="IMG_0169.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0170.jpeg" class="gallery"
          title="IMG_0170.jpeg"
                  data-date=", Mon May  9 14:32:44 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0170.jpeg" alt="IMG_0170.jpeg"
              title="IMG_0170.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0171.jpeg" class="gallery"
          title="IMG_0171.jpeg"
                  data-date=", Mon May  9 14:32:48 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0171.jpeg" alt="IMG_0171.jpeg"
              title="IMG_0171.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0172.jpeg" class="gallery"
          title="IMG_0172.jpeg"
                  data-date=", Mon May  9 14:44:34 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0172.jpeg" alt="IMG_0172.jpeg"
              title="IMG_0172.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0173.jpeg" class="gallery"
          title="IMG_0173.jpeg"
                  data-date=", Mon May  9 14:47:17 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0173.jpeg" alt="IMG_0173.jpeg"
              title="IMG_0173.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0174.jpeg" class="gallery"
          title="IMG_0174.jpeg"
                  data-date=", Mon May  9 14:47:19 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0174.jpeg" alt="IMG_0174.jpeg"
              title="IMG_0174.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0175.jpeg" class="gallery"
          title="IMG_0175.jpeg"
                  data-date=", Mon May  9 14:47:21 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0175.jpeg" alt="IMG_0175.jpeg"
              title="IMG_0175.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0176.jpeg" class="gallery"
          title="IMG_0176.jpeg"
                  data-date=", Mon May  9 14:48:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0176.jpeg" alt="IMG_0176.jpeg"
              title="IMG_0176.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0177.jpeg" class="gallery"
          title="IMG_0177.jpeg"
                  data-date=", Mon May  9 14:52:27 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0177.jpeg" alt="IMG_0177.jpeg"
              title="IMG_0177.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0178.jpeg" class="gallery"
          title="IMG_0178.jpeg"
                  data-date=", Mon May  9 16:15:17 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0178.jpeg" alt="IMG_0178.jpeg"
              title="IMG_0178.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0179.jpeg" class="gallery"
          title="IMG_0179.jpeg"
                  data-date=", Mon May  9 16:15:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0179.jpeg" alt="IMG_0179.jpeg"
              title="IMG_0179.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0180.jpeg" class="gallery"
          title="IMG_0180.jpeg"
                  data-date=", Mon May  9 16:15:29 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0180.jpeg" alt="IMG_0180.jpeg"
              title="IMG_0180.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0181.jpeg" class="gallery"
          title="IMG_0181.jpeg"
                  data-date=", Mon May  9 16:16:45 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0181.jpeg" alt="IMG_0181.jpeg"
              title="IMG_0181.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0182.jpeg" class="gallery"
          title="IMG_0182.jpeg"
                  data-date=", Mon May  9 16:16:50 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0182.jpeg" alt="IMG_0182.jpeg"
              title="IMG_0182.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0183.jpeg" class="gallery"
          title="IMG_0183.jpeg"
                  data-date=", Tue May 10 09:31:58 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0183.jpeg" alt="IMG_0183.jpeg"
              title="IMG_0183.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0184.jpeg" class="gallery"
          title="IMG_0184.jpeg"
                  data-date=", Tue May 10 09:32:03 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0184.jpeg" alt="IMG_0184.jpeg"
              title="IMG_0184.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0185.jpeg" class="gallery"
          title="IMG_0185.jpeg"
                  data-date=", Tue May 10 09:32:04 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0185.jpeg" alt="IMG_0185.jpeg"
              title="IMG_0185.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0186.jpeg" class="gallery"
          title="IMG_0186.jpeg"
                  data-date=", Tue May 10 09:32:14 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0186.jpeg" alt="IMG_0186.jpeg"
              title="IMG_0186.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0187.jpeg" class="gallery"
          title="IMG_0187.jpeg"
                  data-date=", Tue May 10 09:32:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0187.jpeg" alt="IMG_0187.jpeg"
              title="IMG_0187.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0188.jpeg" class="gallery"
          title="IMG_0188.jpeg"
                  data-date=", Tue May 10 09:35:24 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0188.jpeg" alt="IMG_0188.jpeg"
              title="IMG_0188.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0189.jpeg" class="gallery"
          title="IMG_0189.jpeg"
                  data-date=", Tue May 10 09:35:43 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0189.jpeg" alt="IMG_0189.jpeg"
              title="IMG_0189.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0190.jpeg" class="gallery"
          title="IMG_0190.jpeg"
                  data-date=", Tue May 10 10:13:02 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0190.jpeg" alt="IMG_0190.jpeg"
              title="IMG_0190.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0191.jpeg" class="gallery"
          title="IMG_0191.jpeg"
                  data-date=", Tue May 10 10:13:24 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0191.jpeg" alt="IMG_0191.jpeg"
              title="IMG_0191.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0192.jpeg" class="gallery"
          title="IMG_0192.jpeg"
                  data-date=", Tue May 10 10:38:28 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0192.jpeg" alt="IMG_0192.jpeg"
              title="IMG_0192.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0193.jpeg" class="gallery"
          title="IMG_0193.jpeg"
                  data-date=", Tue May 10 10:40:55 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0193.jpeg" alt="IMG_0193.jpeg"
              title="IMG_0193.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0194.jpeg" class="gallery"
          title="IMG_0194.jpeg"
                  data-date=", Tue May 10 10:41:06 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0194.jpeg" alt="IMG_0194.jpeg"
              title="IMG_0194.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0195.jpeg" class="gallery"
          title="IMG_0195.jpeg"
                  data-date=", Tue May 10 11:04:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0195.jpeg" alt="IMG_0195.jpeg"
              title="IMG_0195.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0196.jpeg" class="gallery"
          title="IMG_0196.jpeg"
                  data-date=", Tue May 10 14:00:30 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0196.jpeg" alt="IMG_0196.jpeg"
              title="IMG_0196.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0197.jpeg" class="gallery"
          title="IMG_0197.jpeg"
                  data-date=", Tue May 10 14:00:30 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0197.jpeg" alt="IMG_0197.jpeg"
              title="IMG_0197.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0198.jpeg" class="gallery"
          title="IMG_0198.jpeg"
                  data-date=", Tue May 10 15:11:05 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0198.jpeg" alt="IMG_0198.jpeg"
              title="IMG_0198.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0199.jpeg" class="gallery"
          title="IMG_0199.jpeg"
                  data-date=", Tue May 10 15:11:05 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0199.jpeg" alt="IMG_0199.jpeg"
              title="IMG_0199.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0200.jpeg" class="gallery"
          title="IMG_0200.jpeg"
                  data-date=", Tue May 10 15:11:09 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0200.jpeg" alt="IMG_0200.jpeg"
              title="IMG_0200.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0201.jpeg" class="gallery"
          title="IMG_0201.jpeg"
                  data-date=", Tue May 10 15:11:14 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0201.jpeg" alt="IMG_0201.jpeg"
              title="IMG_0201.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0202.jpeg" class="gallery"
          title="IMG_0202.jpeg"
                  data-date=", Tue May 10 15:11:14 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0202.jpeg" alt="IMG_0202.jpeg"
              title="IMG_0202.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0203.jpeg" class="gallery"
          title="IMG_0203.jpeg"
                  data-date=", Tue May 10 15:11:24 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0203.jpeg" alt="IMG_0203.jpeg"
              title="IMG_0203.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0204.jpeg" class="gallery"
          title="IMG_0204.jpeg"
                  data-date=", Tue May 10 15:37:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0204.jpeg" alt="IMG_0204.jpeg"
              title="IMG_0204.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0205.jpeg" class="gallery"
          title="IMG_0205.jpeg"
                  data-date=", Tue May 10 15:37:35 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0205.jpeg" alt="IMG_0205.jpeg"
              title="IMG_0205.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0206.jpeg" class="gallery"
          title="IMG_0206.jpeg"
                  data-date=", Tue May 10 15:37:36 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0206.jpeg" alt="IMG_0206.jpeg"
              title="IMG_0206.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0207.jpeg" class="gallery"
          title="IMG_0207.jpeg"
                  data-date=", Tue May 10 16:45:35 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0207.jpeg" alt="IMG_0207.jpeg"
              title="IMG_0207.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0208.jpeg" class="gallery"
          title="IMG_0208.jpeg"
                  data-date=", Tue May 10 16:45:35 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0208.jpeg" alt="IMG_0208.jpeg"
              title="IMG_0208.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0209.jpeg" class="gallery"
          title="IMG_0209.jpeg"
                  data-date=", Tue May 10 16:47:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0209.jpeg" alt="IMG_0209.jpeg"
              title="IMG_0209.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0210.jpeg" class="gallery"
          title="IMG_0210.jpeg"
                  data-date=", Tue May 10 16:47:25 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0210.jpeg" alt="IMG_0210.jpeg"
              title="IMG_0210.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0211.jpeg" class="gallery"
          title="IMG_0211.jpeg"
                  data-date=", Tue May 10 16:47:25 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0211.jpeg" alt="IMG_0211.jpeg"
              title="IMG_0211.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0212.jpeg" class="gallery"
          title="IMG_0212.jpeg"
                  data-date=", Tue May 10 16:47:29 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0212.jpeg" alt="IMG_0212.jpeg"
              title="IMG_0212.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0213.jpeg" class="gallery"
          title="IMG_0213.jpeg"
                  data-date=", Tue May 10 16:47:29 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0213.jpeg" alt="IMG_0213.jpeg"
              title="IMG_0213.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0214.jpeg" class="gallery"
          title="IMG_0214.jpeg"
                  data-date=", Tue May 10 16:47:38 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0214.jpeg" alt="IMG_0214.jpeg"
              title="IMG_0214.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0215.jpeg" class="gallery"
          title="IMG_0215.jpeg"
                  data-date=", Tue May 10 16:47:38 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0215.jpeg" alt="IMG_0215.jpeg"
              title="IMG_0215.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0216.jpeg" class="gallery"
          title="IMG_0216.jpeg"
                  data-date=", Tue May 10 21:12:42 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0216.jpeg" alt="IMG_0216.jpeg"
              title="IMG_0216.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0218.jpeg" class="gallery"
          title="IMG_0218.jpeg"
                  data-date=", Wed May 11 12:56:45 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0218.jpeg" alt="IMG_0218.jpeg"
              title="IMG_0218.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0219.jpeg" class="gallery"
          title="IMG_0219.jpeg"
                  data-date=", Wed May 11 18:19:37 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0219.jpeg" alt="IMG_0219.jpeg"
              title="IMG_0219.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0220.jpeg" class="gallery"
          title="IMG_0220.jpeg"
                  data-date=", Wed May 11 18:19:42 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0220.jpeg" alt="IMG_0220.jpeg"
              title="IMG_0220.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0223.jpeg" class="gallery"
          title="IMG_0223.jpeg"
                  data-date=", Fri May 13 11:53:49 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0223.jpeg" alt="IMG_0223.jpeg"
              title="IMG_0223.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0224.jpeg" class="gallery"
          title="IMG_0224.jpeg"
                  data-date=", Fri May 13 11:53:49 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0224.jpeg" alt="IMG_0224.jpeg"
              title="IMG_0224.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0225.jpeg" class="gallery"
          title="IMG_0225.jpeg"
                  data-date=", Tue May 10 17:17:30 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0225.jpeg" alt="IMG_0225.jpeg"
              title="IMG_0225.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0226.jpeg" class="gallery"
          title="IMG_0226.jpeg"
                  data-date=", Tue May 10 17:17:17 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0226.jpeg" alt="IMG_0226.jpeg"
              title="IMG_0226.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0227.jpeg" class="gallery"
          title="IMG_0227.jpeg"
                  data-date=", Tue May 10 17:17:29 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0227.jpeg" alt="IMG_0227.jpeg"
              title="IMG_0227.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0228.jpeg" class="gallery"
          title="IMG_0228.jpeg"
                  data-date=", Tue May 10 17:17:31 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0228.jpeg" alt="IMG_0228.jpeg"
              title="IMG_0228.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0229.jpeg" class="gallery"
          title="IMG_0229.jpeg"
                  data-date=", Tue May 10 17:50:19 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0229.jpeg" alt="IMG_0229.jpeg"
              title="IMG_0229.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0230.jpeg" class="gallery"
          title="IMG_0230.jpeg"
                  data-date=", Fri May 13 18:06:46 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0230.jpeg" alt="IMG_0230.jpeg"
              title="IMG_0230.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0231.jpeg" class="gallery"
          title="IMG_0231.jpeg"
                  data-date=", Fri May 13 18:07:10 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0231.jpeg" alt="IMG_0231.jpeg"
              title="IMG_0231.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0232.jpeg" class="gallery"
          title="IMG_0232.jpeg"
                  data-date=", Fri May 13 18:07:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0232.jpeg" alt="IMG_0232.jpeg"
              title="IMG_0232.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0233.jpeg" class="gallery"
          title="IMG_0233.jpeg"
                  data-date=", Fri May 13 18:09:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0233.jpeg" alt="IMG_0233.jpeg"
              title="IMG_0233.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0234.jpeg" class="gallery"
          title="IMG_0234.jpeg"
                  data-date=", Fri May 13 18:10:18 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0234.jpeg" alt="IMG_0234.jpeg"
              title="IMG_0234.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0236.jpeg" class="gallery"
          title="IMG_0236.jpeg"
                  data-date=", Sat May 14 15:03:29 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0236.jpeg" alt="IMG_0236.jpeg"
              title="IMG_0236.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0237.jpeg" class="gallery"
          title="IMG_0237.jpeg"
                  data-date=", Tue May 10 15:35:08 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0237.jpeg" alt="IMG_0237.jpeg"
              title="IMG_0237.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0238.jpeg" class="gallery"
          title="IMG_0238.jpeg"
                  data-date=", Tue May 10 17:10:56 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0238.jpeg" alt="IMG_0238.jpeg"
              title="IMG_0238.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0239.jpeg" class="gallery"
          title="IMG_0239.jpeg"
                  data-date=", Tue May 10 17:46:47 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0239.jpeg" alt="IMG_0239.jpeg"
              title="IMG_0239.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0240.jpeg" class="gallery"
          title="IMG_0240.jpeg"
                  data-date=", Tue May 10 17:46:48 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0240.jpeg" alt="IMG_0240.jpeg"
              title="IMG_0240.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0241.jpeg" class="gallery"
          title="IMG_0241.jpeg"
                  data-date=", Mon May  9 16:16:26 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0241.jpeg" alt="IMG_0241.jpeg"
              title="IMG_0241.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0288.jpeg" class="gallery"
          title="IMG_0288.jpeg"
                  data-date=", Tue May 10 15:35:08 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0288.jpeg" alt="IMG_0288.jpeg"
              title="IMG_0288.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_0289.jpeg" class="gallery"
          title="IMG_0289.jpeg"
                  data-date=", Tue May 10 10:36:57 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_0289.jpeg" alt="IMG_0289.jpeg"
              title="IMG_0289.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6813.jpeg" class="gallery"
          title="IMG_6813.jpeg"
                  data-date=", Mon May  9 09:07:44 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6813.jpeg" alt="IMG_6813.jpeg"
              title="IMG_6813.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6816.jpeg" class="gallery"
          title="IMG_6816.jpeg"
                  data-date=", Mon May  9 14:43:30 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6816.jpeg" alt="IMG_6816.jpeg"
              title="IMG_6816.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6820.jpeg" class="gallery"
          title="IMG_6820.jpeg"
                  data-date=", Mon May  9 16:15:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6820.jpeg" alt="IMG_6820.jpeg"
              title="IMG_6820.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6821.jpeg" class="gallery"
          title="IMG_6821.jpeg"
                  data-date=", Mon May  9 16:15:46 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6821.jpeg" alt="IMG_6821.jpeg"
              title="IMG_6821.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6826.jpeg" class="gallery"
          title="IMG_6826.jpeg"
                  data-date=", Tue May 10 10:36:57 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6826.jpeg" alt="IMG_6826.jpeg"
              title="IMG_6826.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6829.jpeg" class="gallery"
          title="IMG_6829.jpeg"
                  data-date=", Tue May 10 11:03:40 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6829.jpeg" alt="IMG_6829.jpeg"
              title="IMG_6829.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6830.jpeg" class="gallery"
          title="IMG_6830.jpeg"
                  data-date=", Tue May 10 11:04:15 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6830.jpeg" alt="IMG_6830.jpeg"
              title="IMG_6830.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6832.jpeg" class="gallery"
          title="IMG_6832.jpeg"
                  data-date=", Tue May 10 14:03:50 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6832.jpeg" alt="IMG_6832.jpeg"
              title="IMG_6832.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6833.jpeg" class="gallery"
          title="IMG_6833.jpeg"
                  data-date=", Tue May 10 14:08:33 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6833.jpeg" alt="IMG_6833.jpeg"
              title="IMG_6833.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6836.jpeg" class="gallery"
          title="IMG_6836.jpeg"
                  data-date=", Tue May 10 16:45:16 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6836.jpeg" alt="IMG_6836.jpeg"
              title="IMG_6836.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6839.jpeg" class="gallery"
          title="IMG_6839.jpeg"
                  data-date=", Tue May 10 16:46:49 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6839.jpeg" alt="IMG_6839.jpeg"
              title="IMG_6839.jpeg" /></a>
      </div>
      </div>
      <div id="albums" class="row">
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6843.jpeg" class="gallery"
          title="IMG_6843.jpeg"
                  data-date=", Wed May 11 09:45:22 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6843.jpeg" alt="IMG_6843.jpeg"
              title="IMG_6843.jpeg" /></a>
      </div>
      <div class="four columns thumbnail">
        <a href="/img/tail-of-the-dragon-2016/IMG_6846.jpeg" class="gallery"
          title="IMG_6846.jpeg"
                  data-date=", Wed May 11 11:57:54 2016"
>
          <img src="/img/tail-of-the-dragon-2016/thumbnails/IMG_6846.jpeg" alt="IMG_6846.jpeg"
              title="IMG_6846.jpeg" /></a>
      </div>
      </div>
  </div>


      </div>
    </div>

    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/jquery.colorbox-min.js"></script>
    <script src="/js/jquery.touchSwipe.min.js"></script>
  
    <script src="/js/app.js"></script>
  {% endblock content %}
  